# Process Raw Knowledge Graphs in Clickhouse

In [1]:
from pandas import DataFrame
from IPython.display import HTML, display

from config import clickhouse_execute
from src.utils_clickhouse import load_from_ch_to_df

In [6]:
DROP_TABLE = False
CREATE_TABLE = False
INSERT_INTO_TABLES = False

## Drop and Create the knowledge_graph_raw table

In [3]:
if DROP_TABLE:
    clickhouse_execute('DROP TABLE IF EXISTS knowledge_graph_processed')
    clickhouse_execute('DROP TABLE IF EXISTS subject_processed_agg')
    clickhouse_execute('DROP TABLE IF EXISTS filtered_processed_nodes')
    clickhouse_execute('DROP TABLE IF EXISTS knowledge_graph_processed_filtered')

if CREATE_TABLE:
    clickhouse_execute('''
            CREATE TABLE IF NOT EXISTS knowledge_graph_processed(
                source String,
                subject String,
                predicate String,
                object String)
            ENGINE = ReplacingMergeTree()
            ORDER BY (source, subject, predicate, object);
            ''')
    clickhouse_execute('''
            CREATE TABLE IF NOT EXISTS subject_processed_agg(
                subject String,
                number Int64)
            ENGINE = ReplacingMergeTree()
            ORDER BY (subject);
            ''')
    clickhouse_execute('''
            CREATE TABLE IF NOT EXISTS filtered_processed_nodes(
                node String)
            ENGINE = ReplacingMergeTree()
            ORDER BY (node);
            ''')
    clickhouse_execute('''
            CREATE TABLE IF NOT EXISTS knowledge_graph_processed_filtered(
                source String,
                subject String,
                predicate String,
                object String)
            ENGINE = ReplacingMergeTree()
            ORDER BY (source, subject, predicate, object);
            ''')

## Process Knowledge Graph

In [4]:
if INSERT_INTO_TABLES:
    clickhouse_execute('''
            INSERT INTO knowledge_graph_processed
            SELECT
                source,
                startsWith(subject, '<')? splitByChar('=', splitByChar('#', splitByChar('/', replace(subject, '>', ''))[-1])[-1])[-1]: replace(subject, '"', '') AS subject,
                startsWith(predicate, '<')? splitByChar('=', splitByChar('#', splitByChar('/', replace(predicate, '>', ''))[-1])[-1])[-1]: replace(predicate, '"', '') AS predicate,
                startsWith(object, '<')? splitByChar('=', splitByChar('#', splitByChar('/', replace(object, '>', ''))[-1])[-1])[-1]: replace(object, '"', '') AS object
            FROM knowledge_graph_raw;
            ''')
    clickhouse_execute('''
            INSERT INTO subject_processed_agg
            SELECT
                subject,
                count() AS number
            FROM knowledge_graph_processed
            GROUP BY subject;
            ''')
    clickhouse_execute('''
            INSERT INTO filtered_processed_nodes
            SELECT t1.node AS node
            FROM (
                SELECT
                    subject AS node
                FROM subject_processed_agg) t1
            ALL INNER JOIN (
                SELECT
                    DISTINCT object AS node
                FROM knowledge_graph_processed
                PREWHERE subject != object) t2
            USING node;
            ''')
    clickhouse_execute('''
            INSERT INTO knowledge_graph_processed_filtered
            SELECT *
            FROM knowledge_graph_processed
            PREWHERE subject IN (SELECT node FROM filtered_processed_nodes)
                 AND object IN (SELECT node FROM filtered_processed_nodes)
                 AND subject != object;
            ''')

## Knowledge Graph Parameters

In [5]:
def base_graph_parameters(knowledge_graph_table_name):
    return load_from_ch_to_df('''
            SELECT item,
                   count_unique_items
            FROM (
                SELECT
                    'Links' AS item,
                    count() AS count_unique_items
                FROM {0}
                UNION ALL
                SELECT
                    'Subjects' AS item,
                    count(DISTINCT subject) AS count_unique_items
                FROM {0}
                UNION ALL
                SELECT
                    'Predicates' AS item,
                    count(DISTINCT predicate) AS count_unique_items
                FROM {0}
                UNION ALL
                SELECT
                    'Objects' AS item,
                    count(DISTINCT object) AS count_unique_items
                FROM {0})
                ORDER BY count_unique_items DESC;
               '''.format(knowledge_graph_table_name),
               columns=['Item types', 'Number of unique items'])

def number_of_links_by_type_items(item_type, knowledge_graph_table_name, limit=10):
    return load_from_ch_to_df('''
                SELECT
                    {0},
                    count() AS number_of_links
                FROM {1}
                GROUP BY {0}
                ORDER BY number_of_links DESC
                LIMIT {2};
                '''.format(item_type, knowledge_graph_table_name, limit),
                columns=[item_type.capitalize()+' item', 'Number of Links'])

def print_graph_parameters(knowledge_graph_table_name):
    display(HTML('Base Graph Parameters'))
    display(HTML(base_graph_parameters(knowledge_graph_table_name).to_html(index=False)))
    for item_type in ['subject', 'predicate', 'object']:
        display(HTML(f'Top {item_type.capitalize()}s in the Graph'))
        display(HTML(number_of_links_by_type_items(item_type, knowledge_graph_table_name).to_html(index=False)))

### Raw Graph
As in graph source

In [6]:
print_graph_parameters('knowledge_graph_raw')

### Processed Graph
Removed URI prefix

In [7]:
print_graph_parameters('knowledge_graph_processed')

### Processed Filtered Graph
Removed links in the Processed Graph if an object does not appear in a role of a subject.

In [8]:
print_graph_parameters('knowledge_graph_processed_filtered')

In [8]:
clickhouse_execute('SET max_memory_usage = 200000000000;')
load_from_ch_to_df('''
    SELECT
        count(DISTINCT subject) as "Number of Subjects"
    FROM knowledge_graph_wikidata_raw;
''')

           0
0  189553387

In [10]:
execute('SET max_memory_usage = 200000000000;')
res = clickhouse_execute('''
    SELECT
        count(DISTINCT object) as "Number of Objects"
    FROM knowledge_graph_wikidata_raw;
''')
res

EOFError: Unexpected EOF while reading bytes

In [5]:
clickhouse_execute('SET max_memory_usage = 200000000000;')
load_from_ch_to_df('''
    SELECT
        count(DISTINCT predicate) as "Number of Predicate"
    FROM knowledge_graph_wikidata_raw;
''')

      0
0  8193